.form .form-group {
  margin-bottom: 1.5rem;
}

.form .form-group.form-group-inline {
  display: flex;
  gap: 1.5rem;
}

.form legend {
  display: block;
  margin-bottom: .5rem;
}

.form label,
.form fieldset legend  {
  font-weight: 600;
  font-size: var(--body-font-size-m);
  display: inline-block;
}

.form label > span {
  font-weight: 400;
}

.form .form-text {
  display: block;
  margin-top: 0;
  font-size: var(--body-font-size-m);
  margin-bottom: .25rem;
  line-height: 1.2;
}

@media (min-width: 75em) {
  .form-text {
      font-size: var(--body-font-size-l);
  }
}

.form input[type='date'].form-control {
  appearance: none;
}

.form .invalid-feedback, 
.form .valid-feedback {
  font-weight: 700;
  font-size: var(--body-font-size-s);
  display: none;
  width: 100%;
  margin-top: .25rem;
}

.form .valid-feedback {
  color: var(--clr-green);
}

.form .invalid-feedback {
  color: var(--clr-coral);
}

.form .was-validated :valid~.valid-feedback, 
.form .was-validated :invalid~.invalid-feedback {
  display: block;
}

.form .was-validated .form-control:invalid {
  border: 2px solid var(--clr-coral);
  border-left: .5rem solid var(--clr-coral);
}

.form fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.form .custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}

.form .custom-control-input {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1rem;
  height: 1.25rem;
  opacity: 0;
}

.form .custom-checkbox label, 
.form .custom-radio label {
  font-weight: 400;
  padding-left: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.form .custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
}

.form .custom-control-label::after, 
.form .custom-control-label::before {
  position: absolute;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
}

.form .custom-control-label::before {
  border-radius: .25rem;
  background-color: var(--clr-lighter-gray);
  border: 1px solid var(--clr-lighter-blue);
  width: 1.5rem;
  height: 1.5rem;
  top: .5rem;
  pointer-events: none;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form .custom-radio .custom-control-label::before {
  border-radius: 50%;
}

.form .custom-control-label::after {
  width: 2rem;
  height: 2rem;
  top: .25rem;
  left: -28px;
  background: no-repeat 50%/50% 50%;
}

.form .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 .25rem rgba(2 76 153 / 25%);
}

.form .custom-control-input:active ~ .custom-control-label::before {
  background-color: var(--clr-light-blue);
  border-color: var(--clr-light-blue);
}

.form .custom-control-input:checked ~ .custom-control-label::before {
  border-color: var(--clr-blue);
  background-color: var(--clr-blue);
}

.form .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cpath fill='%23FFF' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3E%3C/svg%3E");
}

.form .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23FFF'/%3E%3C/svg%3E");
}

.form .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: var(--clr-blue);

}
