
.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 600px) {
  .columns > div {
    align-items: stretch;
    flex-direction: unset;
    gap: 20px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

@media (min-width: 900px) {
  .columns > div {
    gap: 100px;
  }
}

/* grey variant */

.columns.grey > div {
  gap: 35px;
}

.columns.grey > div > div {
  background-color: var(--clr-grey);
  padding: 20px;
  min-height: 145px;
}

.columns.grey h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  padding: 0;
  margin: 0;
}

.columns.grey p {
  margin: 0 0 15px;
}

/* fifths variant */

.columns.fifths > div {
  gap: unset;
  margin-bottom: 25px;
}

.columns.fifths > div > div {
  padding: 5px;
}

@media (min-width: 600px) {
  .columns.fifths > div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .columns.fifths > div > div:has(img) {
    text-align: center;
    grid-column: span 1;
  }

  .columns.fifths > div > div img {
    margin: 0 auto;
  }

  .columns.fifths > div > div {
    grid-column: span 4;
  }

  .columns.fifths img {
    max-width: 196px;
  }
}

/* thirds variant */
/* 
.columns.thirds > div {
  padding: 40px;
}

.columns.thirds > div > div {
  order: 0;
}

.columns.thirds > div > .columns-img-col {
  order: 1;
}

.columns.thirds > div > .columns-img-col img {
  border-radius: 50%;
  max-width: 280px;
  margin: auto;
}

.columns.thirds .button {
  background-color: var(--clr-white);
  color: var(--link-color);
  font-size: var(--body-font-size-m);
  padding: 5px 25px;
} */