header {
  --hamburger-width: 40px;
  --button-width: 200px;
}

/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  position: sticky;
  z-index: 20;
  box-shadow: 0 4px 12px var(--clr-light-gray);
}

header nav {
  display: grid;
  grid-template:
    'hamburger brand' var(--nav-height) / var(--hamburger-width) 1fr;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: var(--max-content-width);
  height: var(--nav-height);
  padding: 0 1rem;
  font-family: var(--body-font-family);
  min-height: 0;
  transition: min-height .5s ease;
}

header nav[aria-expanded="true"] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'tools tools' auto
    'sections sections' auto
    'register register' 1fr / var(--hamburger-width) 1fr;
  overflow-y: auto;
  min-height: 100vh;
  border-bottom: 10px solid var(--clr-blue);
}

@media (min-width: 37.5em) {
  header nav {
    grid-template:
    'hamburger brand register' var(--nav-height) / var(--hamburger-width) 1fr var(--button-width);
    padding: 0 var(--default-content-gap);
  }

  header nav[aria-expanded="true"] {
    grid-template:
      'hamburger brand register' var(--nav-height)
      'tools tools tools' auto
      'sections sections sections' 1fr / var(--hamburger-width) 1fr var(--button-width);
    }
}

@media (min-width: 56.25em) {
  header nav[aria-expanded="true"] {
    grid-template:
    'brand . tools' 64px
    'brand sections register' 64px / auto 1fr auto;
    min-height: 0;
    overflow: visible;
    border-bottom: 0 solid rgb(0 0 0 / 0%);
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::after {
  display: block;
  position: relative;
  width: 32px;
  height: 6px;
  background: var(--link-color);
  border-radius: 3px;
  transition: transform .5s;
}

header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  width: 20px;
  top: 10px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  transition: transform .5s, background-color .5s;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  background: var(--link-color);
  width: 32px;
  transform: rotate(-90deg);
  top: 0;
}

header nav[aria-expanded="false"] .nav-hamburger:hover .nav-hamburger-icon::after {
  background: var(--clr-green);
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  transform: rotate(45deg);
}

@media (min-width: 56.25em) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  margin: auto;
  padding-right: var(--hamburger-width);

  --logo-width: 110px;
  --logo-max-height: 80px;
}

header nav .nav-brand .icon {
  display: block;
  width: unset;
  height: unset;
}

header nav .nav-brand .icon svg,
header nav .nav-brand img {
  width: var(--logo-width);
  height: auto;
  max-height: var(--logo-max-height);
}

@media (min-width: 37.5em) {
  header nav .nav-brand {
    padding-left: var(--button-width);
  }
}

@media (min-width: 56.25em) {
  header nav .nav-brand {
    padding-right: 16px;
    padding-left: 0;
  }

  header nav .nav-brand img,
  header nav .nav-brand .icon svg {
    margin-top: 22px;
  }
}

@media (min-width: 75em) {
  header nav .nav-brand {
    --logo-width: 160px;
    --logo-max-height: 100px;

    padding-right: var(--default-content-gap);
  }
  
  header nav .nav-brand img,
  header nav .nav-brand .icon svg {
    margin-top: 0;
  }
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  display: none;
}

header nav[aria-expanded="true"] .nav-sections {
  display: flex;
  justify-content: center;
  align-self: start;
}

header nav .nav-sections ul  {
  list-style: none;
  padding-inline: 0;
  display: flex;
  gap: 1em;
  align-items: center;
  flex-direction: column;
}

header nav .nav-sections a {
  font-size: var(--heading-font-size-l);
  line-height: 1.25em;
  font-weight: 800;
  text-decoration: none;
}

@media (min-width: 56.25em) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: center;
  }

  header nav .nav-sections ul {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    gap: 0;
  }

  header nav .nav-sections a {
    font-size: var(--body-font-size-s);
    line-height: 1;
    font-weight: unset;
  }

  header nav .nav-sections a:hover {
    text-decoration: underline;
    text-decoration-color: var(--clr-green);
    text-decoration-thickness: 3px;
    text-underline-offset: .3em;
  }

  header nav .nav-sections > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: unset;
  }
}

@media (min-width: 75em) { 
  header nav .nav-sections ul {
    justify-content: left;
    gap: var(--default-content-gap);
  }
}


/* tools */
header nav .nav-tools {
  grid-area: tools;
  display: none;
}

header nav[aria-expanded="true"] .nav-tools {
  display: flex;
  justify-content: center;
  margin: 1.875rem 0 1.25rem;
}

@media (min-width: 56.25em) {
  header nav[aria-expanded="true"] .nav-tools {
    justify-content: right;
  }
}

header nav .nav-tools .search-form {
  position: relative;
  width: calc(100% - 2rem);
}

header nav .nav-tools .form-control {
  padding-right: calc(24px + 1rem);
}

header nav .nav-tools .search-form .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.625rem;
  margin: auto;
}

header nav .nav-tools .search-form .icon svg {
  fill: var(--clr-blue);
}

header nav .nav-tools .search-form .search-results {
  position: absolute;
  background-color: var(--clr-off-white);
  border: 1px solid var(--clr-lighter-blue);
  display: none;
  flex-direction: column;
  padding-top: 3px;
  width: 100%;
  list-style: none;
  padding-inline: 0;
  margin-block: 0;
}

header nav .nav-tools .search-form .search-input[aria-expanded='true'] ~ .search-results { 
  display: flex;
}

header nav .nav-tools .search-form .search-results .search-result a {
  color: var(--text-color);
}

header nav .nav-tools .search-form .search-results .search-result[aria-selected] {
  background-color: var(--clr-light-blue);
}

header nav .nav-tools .search-form .search-results .search-result[aria-selected] a {
  color: var(--clr-white);
  text-decoration: none;
}

header nav .nav-tools .search-form .search-results .search-no-results,
header nav .nav-tools .search-form .search-results .search-result span {
  margin-inline: 8px;
  display: block;
  line-height: 1.5;
  font-weight: 700;
}

/* reg */
header nav .nav-register {
  grid-area: register;
  display: none;
  align-self: start;
  justify-content: center;
}

@media (min-width: 37.5em) {
  header nav .nav-register {
    justify-content: right;
    align-self: center;
  }
}

header nav .nav-register a.button {
  font-size: var(--body-font-size-s);
}

header nav[aria-expanded="true"] .nav-register {
  display: flex;
}

@media (min-width: 37.5em) {
  header nav .nav-register {
    display: flex;
  }
}