/* block specific CSS goes here */
main .hero-container {
  --hero-bg-color: var(--clr-blue);
  --hero-cicle-color: var(--clr-light-blue);

  padding: 0;
}

main .hero-container.alternate-hero {
  --hero-bg-color: #e1654f;
  --hero-cicle-color: #e88b7b; 
}

main .hero-container > div {
  max-width: unset;
}

main .hero-container ul li {
  list-style-type: none;
  color: var(--clr-white);
  font-family: var(--heading-font-family);
}

main .hero-container select {
  height: 40px;
  margin: 0 48px 24px;
  padding: 0 8px;
  width: 100%;
  border: 1px solid var(--clr-light-blue);
  border-radius: 3px;
  font-size: 16px;
  display: block;
  appearance: none;
}

main .hero-container .hero-select-wrapper {
  width: 70%;
  position: relative;
}

main .hero-container .hero-select-wrapper::after {
  content: "";
  position: absolute;
  top: 20px;
  right: -36px;
  width: 9px;
  height: 7px;
  margin-top: -3px;
  background: url("/icons/down-arrow.png") no-repeat;
  background-size: contain; 
}

main .hero-container h5 {
  color: var(--clr-white);
  margin: 0 48px 4px;
}

main .hero-container .default-content-wrapper {
  display: none;
}
  
main .hero {
  position: relative;
  padding: 32px;
  min-height: 300px;
  display: flex;
  max-width: var(--max-content-width);
  margin: auto;
}

main .hero .hero-content-container {
  background: var(--hero-bg-color);
  min-height: 400px;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

main .hero .hero-image-container {
  flex: 1;
  display: none;
}

main .hero .hero-content-container::after,
main .hero .hero-content-container::before {
  content: '';
  background: var(--hero-cicle-color); 
  display: block;
  position: absolute;
  opacity: .4;
}

main .hero .hero-content-container::after {
  width: 390px;
  height: 390px;
  right: -90px;
  top: -210px;
  border-radius: 195px;
}

main .hero .hero-content-container::before {
  width: 220px;
  height: 220px;
  left: -110px;
  bottom: 40px;
  border-radius: 110px;
}

main .hero h1 {
  color: var(--clr-white);
  margin-right: auto;
  padding: 48px;
  z-index: 1;
}

main .hero h2 {
  color: var(--clr-white);
  padding: 0 24px 48px 48px;
  z-index: 1;
}

main .hero picture {
  z-index: -1;
}

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

main .hero .button {
  background-color: var(--clr-white);
  color: var(--link-color);
  margin: auto 48px 40px;
  width: 200px;
  font-size: 16px;
  z-index: 2;
  transition: .3s;
  position: relative;
}


@media (min-width: 900px) {
  main .hero .hero-image-container {
    display: block;
  }

  main .hero .button {
    width: 278px;
    font-size: 24px;
  }

}