/* block specific CSS goes here */

main .hero-container {
  --hero-bg-color: var(--clr-off-white);

  padding-inline: var(--default-content-gap);
  padding-bottom: 0;
}

main .hero-container + .section {
  padding-block-start: var(--default-content-gap);
}

.section.hero-container {
  background-color: var(--clr-off-white)
}

.two-columns .section.hero-container {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.section.hero-container.hero-container.alternate-hero {
  background-color: var(--clr-lightest-blue)
}

main .hero-container.alternate-hero {
  --hero-bg-color: var(--clr-lightest-blue);
}

main .hero-container ul li {
  list-style-type: none;
  color: var(--clr-blue);
  font-family: var(--heading-font-family);
}

main .hero-container select {
  height: 40px;
  margin: 0;
  padding: 8px 32px 8px 8px;
  width: 100%;
  border: 2px solid var(--clr-blue);
  border-radius: 8px;
  font-size: var(--body-font-size-s);
  display: block;
  appearance: none;
}

main .hero-container .hero-select-wrapper {
  width: fit-content;
  position: relative;
}

main .hero-container .hero-select-wrapper::after {
  content: "";
  position: absolute;
  top: 16px;
  right: 16px;
  width: 9px;
  height: 7px;
  background: url("/icons/down-arrow.png") no-repeat;
  background-size: contain; 
}

main .hero-container h5 {
  color: var(--clr-blue);
  font-size: var(--heading-font-size-xs);
}

main .hero-container .default-content-wrapper {
  display: none;
}

main .hero {
  position: relative;
  padding: 0;
  display: flex;
  max-width: var(--max-content-width);
  margin: auto;
}

main .hero .hero-content-container {
  display: flex;
  flex: 2;
  flex-direction: column;
  position: relative;
  margin: var(--default-content-gap) var(--default-content-gap) var(--default-content-gap) 0;
}

main .hero .hero-image-container {
  flex: 1;
  display: none;
}

main .hero .hero-content-container::after,
main .hero .hero-content-container::before {
  content: '';
  display: block;
  position: absolute;
  opacity: .4;
}

main .hero .hero-content-container::after {
  width: 1fr;
  height: 1fr;
  right: -90px;
  top: -210px;
}

main .hero .hero-content-container::before {
  width: 220px;
  height: 220px;
  left: -110px;
  bottom: 40px;
  border-radius: 110px;
}

main .hero h1 {
  color: var(--clr-blue);
  line-height: 1;
  padding: 0;
  z-index: 1;
}

main .hero h2 {
  color: var(--clr-blue);
  z-index: 1;
  padding: 0;
  margin-block-end: 0;
}

main .hero picture {
  z-index: -1;
}

main .hero img {
  object-fit: cover;
  width: 384px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin: -24px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main .hero .button {
  background-color: var(--clr-blue);
  margin: 0;
  font-size: var(--body-font-size-l);
  z-index: 2;
  transition: .3s;
  position: relative;
}


@media (min-width: 64.25em) {
  main .hero .hero-image-container {
    display: block;
  }

}