.table {
  width: 100%;
  overflow-x: auto;
}

.table table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: var(--body-font-size-xs);
  border: 1px solid #99acc2;
  margin-bottom: 20px;
  text-align: left;
}

@media (min-width: 600px) {
  .table table {
    font-size: var(--body-font-size-s);
  }
}

@media (min-width: 900px) {
  .table table {
    font-size: var(--body-font-size-m);
  }
}

.table th {
  padding: 10px;
}

.table table thead tr,
.table table tbody tr {
  border-top: unset;
  border-bottom: unset;
}

.table tbody td {
  font-size: 13px;
  padding: 15px 10px;
}

.table thead {
  background: #024c99;
}

.table thead th {
  font-size: var(--body-font-size-xs);
  font-weight: bold;
  color: var(--clr-white);
}

/* styles */

.table.centered table {
  text-align: center;
}

.table.striped tr:nth-child(even) {
  background: #D0E4F5;
}

.table.bordered td, .table.bordered th {
  border: 1px solid #AAA;
}
