main .registration-form {
    max-width: var(--max-content-width);
    margin: auto;
    position: relative;
    padding: 32px;
}

main .registration-form .registration-form-step {
  display: none;
  flex-direction: column;
  width: 100%;
}

main .registration-form.step-1 .registration-form-step.registration-form-step-1,
main .registration-form.step-2 .registration-form-step.registration-form-step-2 {
    display: flex;
}

main .registration-form .registration-form-step .form-container {
  flex: 1;
  margin-right: 15px;
}

main .registration-form .registration-form-step .form-container h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

main .registration-form .registration-form-step .form-container button {
  font-weight: bold;
  width: 20%;
  min-width: 140px;
  color: var(--clr-white);
  border: 0.188rem solid transparent;
  padding: 0.3125rem 1.5rem;
  font-size: 27px;
  line-height: 45px;
}

main .registration-form .registration-form-step .form-container .registration-form-input-label {
    display: block;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 12px;
}

main .registration-form .registration-form-step .form-container .registration-form-input-tooltip {
    border: 1px solid #777;
    text-decoration: none;
    border-radius: 2px;
    width: 22%;
    padding: 8px;
    padding-left: 40px;
    margin-top: 20px;
    margin-left: 12%;
    position: absolute;
    z-index: 1;
    color: #555;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    transform: translateY(-50%);
    background-color: var(--clr-white);
}

main .registration-form .registration-form-step .form-container .registration-form-input-tooltip::before {
    content: '';
    display: block;
    position: absolute;
    left: 12px;
    bottom: 100%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: var(--clr-black);
}

main .registration-form .registration-form-step .form-container .registration-form-input-tooltip::after {
    content: '';
    display: block;
    position: absolute;
    left: 13px;
    bottom: 100%;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-bottom-color: var(--clr-white);
}

main .registration-form .registration-form-step .image-container {
    flex: 1;
}

main .registration-form .registration-form-step .image-container img {
    width: 100%;
}


main .registration-form .registration-form-step .image-container p {
    margin-block: -6px;
}

main .registration-form .registration-form-step .image-container p:last-child {
    background: #002250;
    padding: 15px 25px;
    color: #fff;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

@media (min-width: 900px) {
    main .registration-form .registration-form-step  {
        flex-direction: row;
    }
}