main .blog-socials-container {
  margin: 16px 0 32px;
  padding: 0 32px;
}

main .blog-socials {
  color: var(--clr-black);
}

main .blog-socials a  {
  width: 24px;
  border-width: 0;
  border: 0;
  text-decoration: none;
}

main .blog-socials a img {
  height: 24px;
  width: 24px;
  border-radius: 3px;
  border-width: 0;
  border: 0;
}
