/* 
 sidebar-layout = section
 sidebar-wrapper
 sidebar - block
 */ 

.sidebar-layout .section-container {
  display: grid;
}

@media (min-width: 56.25em) {
  .sidebar-layout .section-container {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--default-content-gap);
  }
  
  .sidebar-wrapper {
    grid-column: span 1;
  }
}

.sidebar-wrapper {
  padding-block-end: var(--default-content-gap);  
}

.sidebar {
  display: flex;
  gap: var(--default-content-gap);
  flex-direction: column;
}

.sidebar-wrapper[class*="bg-"] {
  margin: 0 calc(-1 * var(--default-content-gap));
  padding-block-end: 0;
}

.sidebar-wrapper[class*="bg-"] .sidebar {
  padding: var(--default-content-gap);
}

@media (min-width: 56.25em) {
  .sidebar-wrapper[class*="bg-"] {
    margin: 0;
  }
}

.sidebar-wrapper img {
  margin: auto;
  display: block;
}

/* remove the max-width on imgs but we may find we need this later
.sidebar-wrapper img {
  width: 100%;
  max-width: 352px;
  margin: auto;
  display: block;
}

@media (min-width: 56.25em) {
  .sidebar-wrapper img,
  .video-wrapper {  
    max-width: none;
  }
}
*/

