/*
 sidebar-layout = section
 sidebar-wrapper
 sidebar - block
*/

.sidebar-layout .section-container {
  display: grid;
}

@media (min-width: 56.25em) {
  .sidebar-layout .section-container {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--default-content-gap);
  }
  
  .sidebar-wrapper {
    grid-column: span 1;
    /*padding-inline: var(--default-content-gap);*/
  }
}

.sidebar-wrapper {
  /*padding-block-start: var(--default-content-gap);*/
  padding-block-end: var(--default-content-gap);  
}

.sidebar-wrapper img,
.video-wrapper {
  width: 100%;
  max-width: 352px;
  margin: auto;
  margin: auto;
  display: block;
}  
