main .footnote {
  font-size: 12px;
  color: #666;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 1.3;
  max-width: 100%;
  overflow-wrap: anywhere;
}

main .footnote p {
  display: block;
  margin: 5px 0;
}

main .footnote ol li {
  margin: 10px 40px;
}