main .blog-cta {
  color: var(--clr-blue);
  font-size: var(--body-font-size-m);
  background-color: #ebf7fa;
  padding: 20px;
  margin: 0 auto;
  line-height: 1.3;
  text-align: center;
}

main .blog-cta p:not([class]) {
  text-align: center;
}

main .blog-cta .button {
  background-color: var(--clr-green);
  font-size: var(--body-font-size-s);
  border-radius: unset;
  padding: 5px 40px;
}

@media (min-width: 900px) {
  main .blog-cta p:not([class]) {
    text-align: left;
  }
}