/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
 html {
  /* 1rem = 10 px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

 :root {
  /* colors */
  --clr-blue: rgb(2 76 153);
  --clr-light-blue: rgb(65 121 179);
  --clr-green: rgb(128 188 0);
  --clr-white: rgb(255 255 255);
  --clr-black: rgb(0 0 0);
  --clr-near-black: rgb(36 36 36);
  --clr-midnight-blue: rgb(0 34 80);

  /* element colors */
  --link-color: var(--clr-blue);
  --link-hover-color: var(--clr-light-blue);
  --background-color: var(--clr-white);
  --text-color: var(--clr-near-black);
  --headline-color: var(--clr-midnight-blue);

  /* fonts */
  --body-font-family: proxima-nova, proxima-nova-fallback, sans-serif;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* misc. */
  --nav-height: 80px;
  --max-content-width: 1440px;
  --default-content-padding-x: 48px;
  --default-content-padding-y: 16px;
}

@media (min-width: 900px) {
  :root {
    /* --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px; */

    /* nav height */
    --nav-height: 144px;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: proxima-nova-fallback;
  src: local('arial black');
  size-adjust: 85%;
  ascent-override: 107%;
  font-weight: 700;
}

@font-face {
  font-family: proxima-nova-fallback;
  src: local(arial);
  size-adjust: 96%;
  font-weight: 400;
}

body {
  font-size: var(--body-font-size-xs);
  font-family: var(--body-font-family);
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  color: var(--headline-color);
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-block: 1em;
}

ul {
  list-style-type: circle;
  padding-inline: 40px;
}

ul ul {
  margin-block: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: .6em 1.2em;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

.section.highlight a.button {
  background-color: var(--clr-white);
  color: var(--link-color);
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon svg {
  height: 100%;
  width: 100%;
  fill: currentcolor;
}

/* Sections */
main .section {
  padding: 16px;
}

@media(min-width: 900px) {
  main .section {
    padding: 32px;
  }
}

main .section .default-content-wrapper {
  padding: var(--default-content-padding-y) var(--default-content-padding-x);
}

main .section .section-container {
  max-width: var(--max-content-width);
  margin: auto;
}

main .section.highlight .section-container {
  background-color: var(--clr-blue);

  --headline-color: var(--clr-white);
  
  /* 
  I think this should work, but it doesn't
  --text-color: var(--clr-white); 
  */
  color: var(--clr-white);
}

/* screen reade only text  util class */
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
  /* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-clip-path: inset(50%) !important;
					clip-path: inset(50%) !important; 
	height: 1px !important;
	overflow: hidden !important;
	margin: -1px !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            
}

/* center align linked headlines in default content */
.default-content-wrapper :is(h1, h2, h3, h4, h5, h6):has(a) {
  text-align: center;
}

/* fallback for :has not supported (firefox) */
@supports not (selector(:has(*))) {
  .default-content-wrapper :is(h1, h2, h3, h4, h5, h6) > a {
    text-align: center;
    display: block;
  }
}

/* blog */
.blog main {
  display: grid;
  grid-template-columns: auto;
  max-width: var(--max-content-width);
  margin: 0 auto;
}

.blog main .default-content-wrapper :is(h1, h2, h3, h4, h5, h6) {
  color: var(--clr-near-black);
  padding: 8px 0;
}
.blog main .default-content-wrapper h1 { font-size: var(--heading-font-size-l) }
.blog main .default-content-wrapper h2 { font-size: var(--heading-font-size-l) }
.blog main .default-content-wrapper h3 { font-size: var(--heading-font-size-m) }
.blog main .default-content-wrapper h4 { font-size: var(--heading-font-size-m) }
.blog main .default-content-wrapper h5 { font-size: var(--heading-font-size-xs) }
.blog main .default-content-wrapper h6 { font-size: var(--heading-font-size-xs) }

.blog main .section {
  padding: 0 16px;
}

.blog main .default-content-wrapper strong {
  color: #666;
}

.blog main .default-content-wrapper p:first-child picture img {
  border-radius: 5px;
}

@media (min-width: 900px) {
  .blog main {
    grid-template-columns: auto 370px;
  }

  .blog main .section {
    padding: 0 32px;
  }
}

.blog main .default-content-wrapper {
  padding: 0 var(--default-content-padding-x);
}

.blog main .default-content-wrapper p picture {
  margin: 0 auto;
  text-align: center;
}

.blog main .default-content-wrapper ol {
  padding-left: 50px;
  margin: 10px 0;
}

.blog main .default-content-wrapper ul {
  list-style: none;
  padding-left: 10px;
  margin: 10px 0;
}

.blog main .default-content-wrapper li {
  margin-bottom: 25px;
}

.blog main .default-content-wrapper ul li::before {
  content: '';
  display: inline-block;
  background-image: url('/icons/angle-right-solid.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.blog main .default-content-wrapper .blog-img-center {
  text-align: center;
  margin-top: 10px;
}

.blog main .default-content-wrapper .blog-img-inline picture {
  float: right;
  margin: 0 20px;
}
