/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
 html {
  /* 1rem = 10 px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

 :root {
  /* colors */

  --clr-blue: #003da6;
  --clr-light-blue: #3d94ce;
  --clr-lighter-blue: #a6dff6;
  --clr-lightest-blue: #EDF9FD;
  --clr-slate-blue: #3E7BA4;
  --clr-teal: #1C8172;
  --clr-light-teal: #2CA597;
  --clr-lightest-teal: #EAF6F5;
  --clr-purple: #6A4182;
  --clr-light-purple: #E1D9E6;
  --clr-coral: #E16651;
  --clr-orange: #F38926;
  --clr-lightest-orange: #FEF3E9;
  --clr-green: #6ea101;
  --clr-lightest-green:  #F1F6E6;
  --clr-white: #fff;
  --clr-black: #161b1e;
  --clr-near-black: #353C3E;
  --clr-med-gray: #676E71;
  --clr-med-light-gray: #8F9699;
  --clr-light-gray: #D2DADD;
  --clr-lighter-gray: #F0F3F4;
  --clr-midnight-blue: #002858;
  --clr-off-white: #F0F3F4;


  /* element colors */
  --link-color: var(--clr-blue);
  --link-hover-color: var(--clr-light-blue);
  --background-color: var(--clr-white);
  --text-color: var(--clr-near-black);
  --headline-color: var(--clr-midnight-blue);

  /* fonts */
  --body-font-family: proxima-nova, proxima-nova-fallback, sans-serif;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* misc. */
  --nav-height: 80px;
  --max-content-width: 1440px;
  --default-content-gap: 24px;
}

@media (min-width: 900px) {
  :root {
    /* --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px; */

    /* nav height */
    --nav-height: 128px;
    --default-content-gap: 48px;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: proxima-nova-fallback;
  src: local('arial black');
  size-adjust: 85%;
  ascent-override: 107%;
  font-weight: 700;
}

@font-face {
  font-family: proxima-nova-fallback;
  src: local(arial);
  size-adjust: 96%;
  font-weight: 400;
}

body {
  font-size: var(--body-font-size-xs);
  font-family: var(--body-font-family);
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  color: var(--headline-color);
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-block: 1em;
}

ul {
  list-style-type: circle;
  padding-inline: var(--default-content-gap);
}

ul ul {
  margin-block: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* global form styles */
.form-control,
.custom-select {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.2rem + 2px);
  padding: .6rem 1.3rem;
  font-size: var(--body-font-size-xs);
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--clr-lighter-gray);
  background-clip: padding-box;
  border: 1px solid var(--clr-lighter-blue);
  border-radius: .3rem;
  transition:border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.custom-select {
  display: inline-block;
  appearance: none;
  width: 100%;
  padding-right: 2.9rem;
  vertical-align: middle;
  background: var(--clr-lighter-gray) url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%23479DC7' d='M7.5 12c-.3 0-.6-.1-.8-.4L3.2 7.1c-.3-.4-.3-1 .2-1.4.4-.3 1-.3 1.4.2l2.8 3.5 2.8-3.5c.3-.4.9-.5 1.4-.2.4.3.5.9.2 1.4l-3.5 4.5c-.4.3-.7.4-1 .4z'/%3E%3C/svg%3E") no-repeat right .65rem center/20px 20px;
}

.form-control:focus {
  background-color: var(--clr-white);
  border: 1px solid var(--clr-light-blue);
  outline: 0;
}

textarea.form-control {
  height: auto;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 12px 24px;
  text-align: center;
  font-style: normal;
  line-height: 16px;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 24px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

.section.highlight a.button {
  background-color: var(--clr-white);
  color: var(--link-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon svg {
  height: 100%;
  width: 100%;
  fill: currentcolor;
}

.icon-external-link {
  margin-inline-start: .5em;
  height: .75em;
}

/* Sections */
main .section {
  padding-inline: var(--default-content-gap);
  padding-block-start: 0;
  padding-block-end: var(--default-content-gap);
}

main .section .section-container {
  max-width: var(--max-content-width);
  margin: auto;
}

main .section:is(.highlight, .secondary-highlight),
main .section:is(.highlight, .secondary-highlight) + .section {
  padding-block-start: var(--default-content-gap);
}

main .section.highlight {
  background-color: var(--clr-blue);
  
  --headline-color: var(--clr-white);
  
  /* 
  I think this should work, but it doesn't
  --text-color: var(--clr-white); 
  */
  color: var(--clr-white);
  
}

main .section.secondary-highlight {
  background-color: var(--clr-lightest-blue);
}

/* screen reade only text  util class */
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
  /* stylelint-disable-next-line property-no-vendor-prefix */
	-webkit-clip-path: inset(50%) !important;
					clip-path: inset(50%) !important; 
	height: 1px !important;
	overflow: hidden !important;
	margin: -1px !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            
}

/* center align linked headlines in default content */
.default-content-wrapper :is(h1, h2, h3, h4, h5, h6):has(a) {
  text-align: center;
}

/* fallback for :has not supported (firefox) */
@supports not (selector(:has(*))) {
  .default-content-wrapper :is(h1, h2, h3, h4, h5, h6) > a {
    text-align: center;
    display: block;
  }
}

/* two cols page layout */
:is(.blog, .two-columns) main {
  display: grid;
  grid-template-columns: auto;
  max-width: var(--max-content-width);
  margin: 0 auto;
}

@media (min-width: 900px) {
  :is(.blog, .two-columns) main {
    grid-template-columns: 1fr 370px;
  }

  :is(.blog, .two-columns) main .section {
    grid-column: 1;
  }

  :is(.blog, .two-columns) main .section.breadcrumb-container {
    grid-row: 1;
    grid-column: 1 / -1;
    padding-inline: 0;
    padding-block: 12px;
  }

  :is(.blog, .two-columns) main .section.hero-container {
    grid-row: 2;
    grid-column: 1 / -1;
  }

  :is(.blog, .two-columns) main .section:last-of-type {
    grid-row: 2;
    grid-column: 2;
    padding-inline: 0;
  }

  :is(.blog, .two-columns) main .section:is(.secondary-highlight, .highlight):last-of-type {
    padding-inline: var(--default-content-gap);
  }

  :is(.blog, .two-columns) main .section.hero-container ~ .section:last-of-type {
    grid-row: 3;
  }
}

/* blog */
.blog main :not(.highlight) .section-container :is(h1, h2, h3, h4, h5, h6) {
  color: var(--headline-color);
}

.blog main .default-content-wrapper h1 { font-size: var(--heading-font-size-l) }
.blog main .default-content-wrapper h2 { font-size: var(--heading-font-size-l) }
.blog main .default-content-wrapper h3 { font-size: var(--heading-font-size-m) }
.blog main .default-content-wrapper h4 { font-size: var(--heading-font-size-m) }
.blog main .default-content-wrapper h5 { font-size: var(--heading-font-size-xs) }
.blog main .default-content-wrapper h6 { font-size: var(--heading-font-size-xs) }

.blog main .default-content-wrapper strong {
  color: var(--clr-med-gray);
}

.blog main .section.highlight a {
  color: var(--clr-white);
  text-decoration: underline;
}

.blog main .section.highlight .section-container {
  padding: 30px 0;
}

.blog main .section.highlight .default-content-wrapper strong {
  color: var(--clr-lighter-gray);
}

.blog main .default-content-wrapper p:first-child picture img {
  border-radius: 5px;
}

.blog main .default-content-wrapper p picture {
  margin: 0 auto;
  text-align: center;
}

.blog main .default-content-wrapper ol {
  padding-left: 50px;
  margin: 10px 0;
}

.blog main .default-content-wrapper ul {
  list-style: none;
  padding-left: 10px;
  margin: 10px 0;
}

.blog main .default-content-wrapper li {
  margin-bottom: 25px;
}

.blog main .default-content-wrapper ul li::before {
  content: '';
  display: inline-block;
  background-image: url('/icons/angle-right-solid.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.blog main .default-content-wrapper .blog-img-center {
  text-align: center;
  margin-top: 10px;
}

.blog main .default-content-wrapper .blog-img-inline picture {
  float: right;
  margin: 0 20px;
}
