main .breadcrumb-container {
  padding-inline: var(--default-content-gap);
  padding-block: 16px;
}

.breadcrumb {
  min-height: var(--body-font-size-s);
}

.breadcrumb > nav {
  color: var(--link-color);
  font-size: var(--body-font-size-s);
  line-height: 1;
}

.breadcrumb > nav a {
  text-decoration: none;
}

.breadcrumb .breadcrumb-separator {
  margin-inline: 1.5ch;
}
