main .breadcrumb-container {
  padding-inline: 0;
  padding-block: 16px;
}

.breadcrumb {
  min-height: 32px;
}

.breadcrumb > nav {
  color: var(--link-color);
  font-size: var(--body-font-size-xs);
  padding-left: var(--default-content-gap);
  min-height: 26px;
}

.breadcrumb > nav a {
  text-decoration: none;
}

.breadcrumb .breadcrumb-separator {
  margin-inline: 1.5ch;
}
